.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  display: inline-block;
  margin-top: unset;
  vertical-align: top;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 48px;
  line-height: 56px;
  padding-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -22px;
  padding-left: 6px;
}

.loading {
  margin: 0 auto;
}
